Import neccessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
shipping_data = pd.read_excel("shipment_data.xlsx")
shipping_data.head() # This will show the first 5 rows in the read data

,Ref #,Carrier,Service Level,Tracking #,Status,Ship Date,Location,To ID,To Company,PO#,...,Shipment.CustomerGroup,Shipment.CoCType,Shipment.Approver,Shipment.CostCenter,Shipment.Test,Shipment.Hari,Shipment.Receivinglocationtimezone,Shipment.Shippinglocationtimezone,Shipment.shipment-Level,Shipment.GroupId
0,912,FedEx,FedEx 2 Day,NaN,draft,2025-12-18 14:01:17,NA Spare Parts,NaN,ADAMS CO.,ZZ-123456-1,...,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,911,FedEx,FedEx 2 Day,NaN,draft,2025-12-18 14:01:07,NA Spare Parts,NaN,ADAMS CO.,ZZ-123456-1,...,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,910,FedEx,FedEx 2 Day,NaN,draft,2025-12-18 14:00:11,NA Spare Parts,NaN,ADAMS CO.,ZZ-123456-1,...,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,909,FedEx,FedEx 2 Day,NaN,draft,2025-12-18 14:00:01,NA Spare Parts,NaN,ADAMS CO.,ZZ-123456-1,...,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,904,UPS,UPS Ground,NaN,draft,2025-12-18 12:31:19,NA Spare Parts,D&W-8,D&W-Aberdeen Township,NaN,...,Regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Steps I follow to complete the task

1. Understand the Data 
2. Data Cleaning 
3. Data Preprocessing 
4. Data Loading

1. Understanding the Data

In [9]:
shipping_data.shape

(4965, 36)

In [10]:
shipping_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4965 entries, 0 to 4964
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Ref #                               3600 non-null   object
 1   Carrier                             4552 non-null   object
 2   Service Level                       4433 non-null   object
 3   Tracking #                          3715 non-null   object
 4   Status                              4965 non-null   object
 5   Ship Date                           4965 non-null   datetime64[ns]
 6   Location                            4718 non-null   object
 7   To ID                               3835 non-null   object
 8   To Company                          4855 non-null   object
 9   PO#                                 1225 non-null   object
 10  SO#                                 705 non-null    object
 11  Discounted Cost                     4965 non-null   float64
 12  Published Cost                      4965 non-null   float64
 13  Marked Up Cost                      4965 non-null   float64
 14  Account #                           1708 non-null   object
 15  Payment Type                        4964 non-null   object
 16  Shipment Type                       4123 non-null   object
 17  ETD                                 2458 non-null   datetime64[ns]
 18  Delivered On                        4 non-null      datetime64[ns]
 19  Delivery Status                     2751 non-null   object
 20  POD                                 0 non-null      float64
 21  POD Signed By                       4 non-null      object
 22  Tracking Last Updated               25 non-null     datetime64[ns]
 23  Last Updated By                     4810 non-null   object
 24  Last Updated Date                   4951 non-null   datetime64[ns]
 25  Comments                            4965 non-null   int64
 26  Shipment.CustomerGroup              123 non-null    object
 27  Shipment.CoCType                    161 non-null    object
 28  Shipment.Approver                   1 non-null      object
 29  Shipment.CostCenter                 3 non-null      object
 30  Shipment.Test                       524 non-null    float64
 31  Shipment.Hari                       72 non-null     object
 32  Shipment.Receivinglocationtimezone  5 non-null      object
 33  Shipment.Shippinglocationtimezone   5 non-null      object
 34  Shipment.shipment-Level             2 non-null      float64
 35  Shipment.GroupId                    5 non-null      object
dtypes: datetime64[ns](5), float64(6), int64(1), object(24)
memory usage: 1.4+ MB

In [11]:
shipping_data.describe()

,Ship Date,Discounted Cost,Published Cost,Marked Up Cost,ETD,Delivered On,POD,Tracking Last Updated,Last Updated Date,Comments,Shipment.Test,Shipment.shipment-Level
count,4965,4965.000000,4965.000000,4965.000000,2458,4,0.0,25,4951,4965.0,524.0,2.0
mean,2024-04-05 00:47:14.608056576,251.091851,589.844218,223.981021,2024-05-10 17:55:21.373474304,2024-01-12 01:40:20.249999872,NaN,2024-01-16 15:04:04.880000,2024-04-06 03:57:08.379721472,0.0,10.0,10000.0
min,2023-01-24 17:41:27,0.000000,0.000000,0.000000,2023-01-25 23:59:00,2024-01-03 08:00:00,NaN,2024-01-02 12:47:57,2023-01-24 23:11:40,0.0,10.0,10000.0
25%,2023-06-13 02:03:01,0.000000,0.000000,0.000000,2023-07-28 02:36:45,2024-01-03 08:00:00,NaN,2024-01-02 14:06:20,2023-06-12 23:13:05,0.0,10.0,10000.0
50%,2024-01-30 12:59:43,22.450000,19.890000,0.000000,2024-03-12 05:43:20.500000,2024-01-03 08:00:00,NaN,2024-01-03 13:35:17,2024-01-30 18:04:51,0.0,10.0,10000.0
75%,2025-03-10 11:56:01,258.920000,405.700000,203.580000,2025-03-26 17:59:00,2024-01-12 01:40:20.249999872,NaN,2024-01-10 16:56:42,2025-03-10 23:16:15,0.0,10.0,10000.0
max,2025-12-18 14:33:41,9938.000000,20550.160000,11775.620000,2025-12-24 23:00:00,2024-02-07 06:41:21,NaN,2024-04-07 11:10:18,2025-12-19 01:04:02,0.0,10.0,10000.0
std,NaN,666.466781,1693.809220,611.408161,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

2. Data Cleaning

My approach

1. Finding Duplicate values if there are duplicate values then remove them
2. Finding missing values, if there are missing values then they can be removed or filled

In [8]:
#Duplicate values
shipping_data.duplicated().sum()

np.int64(1)

In [12]:
shipping_data[shipping_data.duplicated()] # This will show what values is repeated

,Ref #,Carrier,Service Level,Tracking #,Status,Ship Date,Location,To ID,To Company,PO#,...,Shipment.CustomerGroup,Shipment.CoCType,Shipment.Approver,Shipment.CostCenter,Shipment.Test,Shipment.Hari,Shipment.Receivinglocationtimezone,Shipment.Shippinglocationtimezone,Shipment.shipment-Level,Shipment.GroupId
911,905,CloudLeap Truck,Spot Quote,NaN,shipped,2025-12-15,NA Spare Parts,AID2099632640,Nachos Inc.,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN

there is a duplicate value in the excel as it is only one duplicate value we can remove it from excel file

In [16]:
shipping_data.drop_duplicates(inplace=True) # It will drop the duplicate values 
#Now we can check

shipping_data.duplicated().sum()

np.int64(0)

In [17]:
shipping_data.isnull().sum()

Ref #                                 1365
Carrier                                413
Service Level                          532
Tracking #                            1249
Status                                   0
Ship Date                                0
Location                               247
To ID                                 1130
To Company                             110
PO#                                   3739
SO#                                   4259
Discounted Cost                          0
Published Cost                           0
Marked Up Cost                           0
Account #                             3256
Payment Type                             1
Shipment Type                          842
ETD                                   2506
Delivered On                          4960
Delivery Status                       2214
POD                                   4964
POD Signed By                         4960
Tracking Last Updated                 4939
Last Updated By                        155
Last Updated Date                       14
Comments                                 0
Shipment.CustomerGroup                4841
Shipment.CoCType                      4803
Shipment.Approver                     4963
Shipment.CostCenter                   4961
Shipment.Test                         4441
Shipment.Hari                         4892
Shipment.Receivinglocationtimezone    4959
Shipment.Shippinglocationtimezone     4959
Shipment.shipment-Level               4962
Shipment.GroupId                      4959
dtype: int64

There are so many missing values we want to handle all the missing values

In [25]:
for col in shipping_data.columns:
    missing_percentage = shipping_data[col].isnull().mean() * 100
    print(f"{col}: {missing_percentage:.2f}% missing")

Ref #: 27.50% missing
Carrier: 8.32% missing
Service Level: 10.72% missing
Tracking #: 25.16% missing
Status: 0.00% missing
Ship Date: 0.00% missing
Location: 4.98% missing
To ID: 22.76% missing
To Company: 2.22% missing
PO#: 75.32% missing
SO#: 85.80% missing
Discounted Cost: 0.00% missing
Published Cost: 0.00% missing
Marked Up Cost: 0.00% missing
Account #: 65.59% missing
Payment Type: 0.02% missing
Shipment Type: 16.96% missing
ETD: 50.48% missing
Delivered On: 99.92% missing
Delivery Status: 44.60% missing
POD: 100.00% missing
POD Signed By: 99.92% missing
Tracking Last Updated: 99.50% missing
Last Updated By: 3.12% missing
Last Updated Date: 0.28% missing
Comments: 0.00% missing
Shipment.CustomerGroup: 97.52% missing
Shipment.CoCType: 96.76% missing
Shipment.Approver: 99.98% missing
Shipment.CostCenter: 99.94% missing
Shipment.Test: 89.46% missing
Shipment.Hari: 98.55% missing
Shipment.Receivinglocationtimezone: 99.90% missing
Shipment.Shippinglocationtimezone: 99.90% missing
Shipment.shipment-Level: 99.96% missing
Shipment.GroupId: 99.90% missing

We can remove the features  which are more than 50%

In [28]:
# I am taking threshold value as 0.5 and less than that remove them

threshold_value = 0.5 #50%
shipping_data = shipping_data.loc[:, shipping_data.isnull().mean() < threshold_value]
shipping_data.isnull().sum()

Ref #                1365
Carrier               413
Service Level         532
Tracking #           1249
Status                  0
Ship Date               0
Location              247
To ID                1130
To Company            110
Discounted Cost         0
Published Cost          0
Marked Up Cost          0
Payment Type            1
Shipment Type         842
Delivery Status      2214
Last Updated By       155
Last Updated Date      14
Comments                0
dtype: int64

In [29]:
for col in shipping_data.columns:
    missing_percentage = shipping_data[col].isnull().mean() * 100
    print(f"{col}: {missing_percentage:.2f}% missing")

Ref #: 27.50% missing
Carrier: 8.32% missing
Service Level: 10.72% missing
Tracking #: 25.16% missing
Status: 0.00% missing
Ship Date: 0.00% missing
Location: 4.98% missing
To ID: 22.76% missing
To Company: 2.22% missing
Discounted Cost: 0.00% missing
Published Cost: 0.00% missing
Marked Up Cost: 0.00% missing
Payment Type: 0.02% missing
Shipment Type: 16.96% missing
Delivery Status: 44.60% missing
Last Updated By: 3.12% missing
Last Updated Date: 0.28% missing
Comments: 0.00% missing

Still we have missing values so as per the requirement we can keep "Null","Unknown" values to the missing ones

In [30]:
shipping_data.head()

,Ref #,Carrier,Service Level,Tracking #,Status,Ship Date,Location,To ID,To Company,Discounted Cost,Published Cost,Marked Up Cost,Payment Type,Shipment Type,Delivery Status,Last Updated By,Last Updated Date,Comments
0,912,FedEx,FedEx 2 Day,NaN,draft,2025-12-18 14:01:17,NA Spare Parts,NaN,ADAMS CO.,0.0,0.0,0.0,sender,Outbound,NaN,Pritesh Shah,2025-12-19 00:31:22,0
1,911,FedEx,FedEx 2 Day,NaN,draft,2025-12-18 14:01:07,NA Spare Parts,NaN,ADAMS CO.,0.0,0.0,0.0,sender,Outbound,NaN,Pritesh Shah,2025-12-19 00:31:14,0
2,910,FedEx,FedEx 2 Day,NaN,draft,2025-12-18 14:00:11,NA Spare Parts,NaN,ADAMS CO.,0.0,0.0,0.0,sender,Outbound,NaN,Pritesh Shah,2025-12-19 00:30:31,0
3,909,FedEx,FedEx 2 Day,NaN,draft,2025-12-18 14:00:01,NA Spare Parts,NaN,ADAMS CO.,0.0,0.0,0.0,sender,Outbound,NaN,Pritesh Shah,2025-12-19 00:30:08,0
4,904,UPS,UPS Ground,NaN,draft,2025-12-18 12:31:19,NA Spare Parts,D&W-8,D&W-Aberdeen Township,0.0,0.0,0.0,thirdparty,Outbound,NaN,Pritesh Shah,2025-12-18 23:01:26,0

In [31]:
shipping_data[shipping_data['Ref #'].isnull()]

,Ref #,Carrier,Service Level,Tracking #,Status,Ship Date,Location,To ID,To Company,Discounted Cost,Published Cost,Marked Up Cost,Payment Type,Shipment Type,Delivery Status,Last Updated By,Last Updated Date,Comments
73,NaN,NaN,NaN,NaN,validated,2025-12-12 14:17:01,NA Spare Parts,NaN,NaN,0.00,0.00,0.00,sender,Outbound,NaN,Bhavana Musuluri,2025-12-12 14:18:09,0
74,NaN,NaN,NaN,NaN,validated,2025-12-12 14:16:47,NA Spare Parts,NaN,NaN,0.00,0.00,0.00,sender,Outbound,NaN,Bhavana Musuluri,2025-12-12 14:17:01,0
112,NaN,USPS Stamps,Media Mail,9449050899563000372335,shipped,2025-12-02 23:37:44,NA Spare Parts,NaN,300 S Civic Center Dr,26.22,26.22,116.22,sender,Outbound,shipped,Piyovi Dev,2025-12-02 23:39:03,0
173,NaN,NaN,NaN,NaN,canceled,2025-11-20 10:43:40,NA Spare Parts,NaN,NaN,0.00,0.00,0.00,sender,Outbound,NaN,Bhavana Musuluri,2025-11-20 21:13:47,0
326,NaN,CHRobinson,FedEx Freight Priority,NaN,draft,2025-10-14 15:22:24,NA Spare Parts,92928,manasa,0.00,0.00,0.00,sender,Outbound,NaN,Srikanth Bandi,2025-10-14 15:29:04,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,NaN,USF Holland,Standard,USF243323420014,shipped,2023-01-31 09:25:54,NA Spare Parts,AID752821231,Knightriders,0.00,0.00,0.00,sender,NaN,NaN,Piyovi Dev,2023-01-31 14:55:54,0
4896,NaN,FedEx,FedEx 2 Day,NaN,draft,2023-01-31 09:15:09,NA Spare Parts,AID1879904350,"Schwartz & Schwartz, PC",0.00,0.00,0.00,sender,NaN,NaN,Piyovi Dev,2023-01-31 14:46:51,0
4900,NaN,USF Holland,NaN,USF24332342000,canceled,2023-01-31 06:04:36,NA Spare Parts,AID752821231,Knightriders,0.00,0.00,0.00,sender,NaN,NaN,Piyovi Dev,2023-01-31 11:35:18,0
4916,NaN,UPS,UPS Ground,1ZXXXXXXXXXXXXXXXX,canceled,2023-01-29 18:03:07,NA Spare Parts,AID449899541,Rogers Corp,19.31,19.51,31.24,sender,NaN,NaN,Piyovi Dev,2023-01-29 23:36:24,0
4920,NaN,NaN,NaN,NaN,canceled,2023-01-24 18:53:59,NA Spare Parts,ARE937,Marriott,0.00,0.00,0.00,sender,NaN,NaN,Piyovi Dev,2023-01-25 00:25:13,0

As per the task requirements there are some features that are to be unchanged they are 
1. Ref #
2. Tracking #	
3. Cost Columns 
4. To ID	

These 4 are to nan only as we dont required them in the task

Fill the missing values in the categorical columns as "Unknown"

In [32]:
categorical_columns = [
    "Carrier",
    "Service Level",
    "Shipment Type",
    "Payment Type",
    "Location",
    "To Company"
]
shipping_data[categorical_columns] = shipping_data[categorical_columns].fillna("Unknown")

In [34]:
shipping_data['Delivery Status'].unique()
# As we have all the values like shipped,canceled and all if it is pending then only it will be nan
#So convert nan - pending

array([nan, 'shipped', 'canceled', 'pickup', 'delivered', 'intransit',
       'exception'], dtype=object)

In [35]:
shipping_data['Delivery Status'] = shipping_data['Delivery Status'].fillna("pending")

In [38]:
shipping_data['Last Updated By'].unique()

array(['Pritesh Shah', nan, 'Logan Sappington', 'Bhavana Musuluri',
       'Piyovi Dev', 'Srikanth Bandi', 'Pranav Kode', 'Pat Bishop',
       'Chandra Vooturi', 'Bhavana M', 'Mahendranadh Madala',
       'Rajjesh sarma', 'Crestview Collection', 'Rahul Jain',
       'ashok kumar', 'Wencor Admin', 'sriram sadineni'], dtype=object)

As there are 15 person names we cannot blindly choose a name from these 15 members and fill the missing values so i will keep in place of the missing value "Unknown user"

In [39]:
shipping_data['Last Updated By'] = shipping_data["Last Updated By"].fillna("Unknown User")

In [42]:
shipping_data['Last Updated Date'].isnull().sum()

np.int64(14)

There are missing values in last updated date feature so to handle this we can take ship Date as Last Updated Date because 
It means no updates happened after creation,so the creation time (Ship Date) is the correct fallback

In [43]:
shipping_data['Last Updated Date'] = shipping_data['Last Updated Date'].fillna(shipping_data['Ship Date'])

In [44]:
shipping_data.isnull().sum()

Ref #                1365
Carrier                 0
Service Level           0
Tracking #           1249
Status                  0
Ship Date               0
Location                0
To ID                1130
To Company              0
Discounted Cost         0
Published Cost          0
Marked Up Cost          0
Payment Type            0
Shipment Type           0
Delivery Status         0
Last Updated By         0
Last Updated Date       0
Comments                0
dtype: int64

In [45]:
cols = ['Ref #','Tracking #','To ID']
for col in cols:
    shipping_data[col] = shipping_data[col].fillna("Unknown")

In [46]:
shipping_data.isnull().sum()

Ref #                0
Carrier              0
Service Level        0
Tracking #           0
Status               0
Ship Date            0
Location             0
To ID                0
To Company           0
Discounted Cost      0
Published Cost       0
Marked Up Cost       0
Payment Type         0
Shipment Type        0
Delivery Status      0
Last Updated By      0
Last Updated Date    0
Comments             0
dtype: int64

Now the data is cleaned and preprocessed according to the task so now i will convert it into new csv file and export it into database and complete the next steps in the task

In [47]:
shipping_data.to_csv("final_shipping_data.csv",index=False)

In [48]:
final = pd.read_csv('final_shipping_data.csv')
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4964 entries, 0 to 4963
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0     Ref #            4964 non-null   object
 1   Carrier            4964 non-null   object
 2   Service Level      4964 non-null   object
 3   Tracking #         4964 non-null   object
 4   Status             4964 non-null   object
 5   Ship Date          4964 non-null   object
 6   Location           4964 non-null   object
 7   To ID              4964 non-null   object
 8   To Company         4964 non-null   object
 9   Discounted Cost    4964 non-null   float64
 10  Published Cost     4964 non-null   float64
 11  Marked Up Cost     4964 non-null   float64
 12  Payment Type       4964 non-null   object
 13  Shipment Type      4964 non-null   object
 14  Delivery Status    4964 non-null   object
 15  Last Updated By    4964 non-null   object
 16  Last Updated Date  4964 non-null   object
 17  Comments           4964 non-null   int64
dtypes: float64(3), int64(1), object(14)
memory usage: 698.2+ KB